@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero {
    height: 100%;
    width: 33%;
    background: #f7f7f7;
}

.form {
    height: 100%;
    width: 66%;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-top: 5%;
}

.welcometext,
.createaccounttext,
.inputtitles,
.footertext {
    font-family: 'Open Sans', sans-serif;
    color: #3b2924;
}

.welcometext {
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

.createaccounttext {
    font-size: 15px;
    margin: 0px;
    text-align: center;
}

.signupinputs {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputtitles {
    font-size: 18px;
    margin: 0px;
}

.inputfield {
    margin: 0px;
    padding-left: 10px;
    width: 70%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #3b2924;
    background: #f7f7f7;
    outline: none;
}

.inputfield:focus {
    border-bottom-color: #74a12e;
}

.inputfield:focus::placeholder {
    color: transparent;
}

#submitbutton {
    width: 20%;
    height: 50px;
    border-radius: 3px;
    border: none;
    background: #e1dcbb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#submitbutton:hover {
    background-color: #979691;
}

#hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.link {
    text-decoration: none;
}
