body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.App {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card {
    display: grid;
    grid-template-rows: auto auto;

    margin: 1rem;
    border: black solid 3px;
}

.pokemon-image img {
    cursor: pointer;
}
