body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.container {
  width: 100vw;
  height: 100vh;
}
.top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 44px;
}

#top-left {
  background-color: #ffce2d;
  height: 44px;
}

#cornerlogo {
  height: 36px;
  width: 136px;
}

#starbar-middle {
  height: 44px;
  width: 50px;
}
#top-middle {
  background-color: #ffce2d;
  height: 44px;
  width: 700px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

#top-right {
  background-color: #ffce2d;
  height: 44px;
  width: 100vw;
  border-bottom-right-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: black;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#sidebar {
  background-color: #ffce2d;
  margin-top: 0px;
  height: 750px;
  width: 128px;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: black;
}

#main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#hero {
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
}

#heroimage {
  height: 145px;
  width: 376px;
}

hr {
  width: 50%;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

#usercount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newsflash {
  background-color: #feffeb;
  padding-top: 10px;
  height: 463px;
  width: 200px;
}

#readingfont {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
}

#readingbunny {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.newsflashtext {
  font-size: 10.8px;
  font-family: Arial, Helvetica, sans-serif;
}
.link {
  text-decoration: none;
}

.maincontent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 463px;
}

#kioskcat {
  height: 40px;
  width: 40px;
}

#news {
  margin: 12px;
  background-color: #ddde77;
  height: 260px;
  width: 160px;
}
