@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans&display=swap');

/* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */

body {
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    background: #21252b;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr;
}

.header {
    grid-area: 1;
    height: 30px;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 100%;
    width: 60%;
    padding-left: 10px;
}

#netflixlogo {
    height: 30px;
    width: 60px;
    object-fit: contain;
}

.nav {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#introtext {
    height: inherit;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 9px;
    margin: 3px;
    padding-top: 20px;
}

#signin-button,
#join-button {
    height: 20px;
    width: 60px;
    border: none;
    border-radius: 2px;
    margin: 4px;
    padding-bottom: 5px;
}

#signin-button {
    background: black;
    border: 1px solid white;
}

#join-button {
    background: #e50914;
    border: 1px solid #e50914;
}

.links {
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 9px;
}

.titleslide {
    height: 100%;
    width: 100%;
    grid-area: 2;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
}

#titleheader {
    padding-top: 20px;
    margin: 5px;
}

#titlecontent {
    height: 100%;
    width: 35%;
    margin: 5px;
}

.row1 {
    height: 100%;
    width: 100%;
    grid: 3;
}

.row2 {
    height: 100%;
    width: 100%;
    grid: 4;
}

.row3 {
    height: 100%;
    width: 100%;
    grid: 5;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid red;
}

.categorytitles {
    margin-bottom: 0px;
    border: 2px solid orange;
}

.category-title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}

.movie-container {
    height: 90%;
    width: 100%;
    display: flex;
    border: 2px solid green;
    padding: 0;
}

.slide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-shrink: 0;
    gap: 5px;
    margin: 0;
    border: 2px solid yellow;
    scroll-snap-align: start;
}

.thumbnails {
    height: 100px;
    width: 200px;
    object-fit: fill;
}

.movie-title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
}
